<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="static/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Welcome to Secure Notes - Login Error</title>
    </head>
    <body>
        <div class="container">
            <div class="alert alert-secondary" role="alert">
                <div class="text-center">
                    <h3>Welcome to Secure Notes - Login Error</h3>
                </div>
            </div>
            <br/>
            <div class="alert alert-danger" role="alert">
                <p>{{ message }}</p>
            </div>
            <br/>
            <span class="p-1 rounded-sm border border-primary">
                <a href="javascript:history.go(-1)" class="alert-link">Back</a>
            </span>
            <div class="text-center">
                <hr/>
                <img class="img-thumbnail" src="static/images/polarsparc.png" alt="PolarSPARC">
            </div>
        </div>        
    </body>
</html>
